# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch
.settings/
.metadata
.classpath
.project

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/

# Fabric
run/
logs/

# macOS
.DS_Store

# Windows
Thumbs.db
